<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.EitanandJosh.DigiPass</key>
		<string>17c0432d-8575-48ad-b0ba-c91cb2b09ec9</string>
		<key>com.EitanandJosh.DigiPass.ImageNotification</key>
		<string>98071de5-df1d-42c8-9a2b-6020de496ed8</string>
	</dict>
	<key>signingCertificate</key>
	<string>iOS Distribution</string>
</dict>
</plist>
